<h1>Tasks#index</h1>

<% unless log_in? %>
  <%= "only logged in user can see the contents" %>
  <%= link_to 'login', login_path %>

  <%= current_user.name %>

<% else %>
  <h2><%= "hello, #{current_user.name}" %></h2>
  <div><%= link_to 'new task', new_task_path %></div>
  <ul class = "list_style_non">
    <h3>search by...</h3>
    <%= form_with url: tasks_search_path, method: (:get) do |f| %>
      <li>keywords: <%= f.search_field :search_words %></li>
      <li>priority: <%= f.select :priority, options_for_select(Task.priorities), :prompt => "select" %></li>
      <li>status: <%= f.select :status, options_for_select(Task.statuses), :prompt => "select" %></li>
      <li>started at: <%= f.date_select :start_date, :include_blank => true %></li>
      <li>scheduled finish date: <%= f.date_select :scheduled_finish_date,:include_blank => true %></li>
      <li><%= f.submit 'Search', remote: true %></li>
    <% end %>
  </ul>

  <h3>sort by...</h3>
  <%= button_to 'priority sort', tasks_sort_path(sort_id: 0) %>
  <%= button_to 'scheduled finish date sort', tasks_sort_path(sort_id: 1) %>
  <%= button_to 'start date sort', tasks_sort_path(sort_id: 2) %>
  <%= button_to 'end date sort', tasks_sort_path(sort_id: 3) %>
  <%= button_to 'title sort', tasks_sort_path(sort_id: 4) %>
  <%= button_to 'status sort', tasks_sort_path(sort_id: 5) %>

<div id="results_area"><%= render 'results', tasks: @tasks %></div>

<% end %>
